body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/static/images/brayden-winemiller-I2N8tXEbeNU-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    filter: blur(1.2px);
    z-index: -1;

    display:flex;
    align-items: center;
    justify-content: center;
}

.nav-header {
    opacity: .9;
}

.container {
    position: relative;
    top: 70px;
    left: 0;
    width: 100vw;
    height: 100vh;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.page-header h1 {
    text-align: center;
    color: var(--primary-light);
    margin: 1.5rem 0 1.3rem 0;
    text-shadow: 0px 4px 4px rgba(255, 244, 245, 0.3);

}

.form-container {
    width: 45rem;
    /* min-height: 30rem; */
    height: auto;
    border-radius: var(--card-border-radius);

    background-color: var(--color-creamson-light);
    box-shadow: 2px 6px 35.8px 0px #626262;
    padding: 1.5rem;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-input {
    display: grid;
    width: 100%;
    /* overflow: hidden; */
    grid-template-columns: 10rem auto;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    min-height: 3.375rem;
    text-align: center;
}

input {
    width: 20rem;
    height: 3rem;
    background-color: #EEE;
    border-radius: var(--card-border-radius);
    border: none;
    padding: 0 1rem;
}

.empty-input {
    width: 20rem;
    height: 3rem;
    box-sizing: border-box;
}

.section-divider {
    height: 1px;
    background-color: var(--primary-light);
    margin: .5rem 0;
    width: 80%
}
.form-links {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.field-error h6{
    font-size: 0.675rem;;
    color: var(--warning-color-dark)
}

/* Image grid */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: .5rem;
}

.image-container {
    position: relative;
    border: 3px solid transparent;
    border-radius: .5rem;
    overflow: hidden;
    transition: all 0.3s ease;
}

.image-container img {
    width: 100%;
    aspect-ratio: 1/1;
    display: block;
    object-fit: cover;
    border-radius: .5rem;
}

.image-container input[type="radio"] {
    position: absolute;
    bottom: 8px;
    right: 8px;
    z-index: 2;
    width: 1.2rem;
    height: 1.2rem;
    accent-color: var(--primary-light);
    cursor: pointer;
}

.image-container input[type="radio"]:checked + img {
    border: 3px solid var(--primary-light);
}