{% extends "base.html" %} {% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/trails/trail-form.css" %}">
<link rel="stylesheet" href="{% static "css/days/day-form.css" %}">
{% endblock head %}


{% block content %}
<div class="container">

    <div class="page-header">

        <h1>Edit Day {{day.day}} ({{day.date}})</h1>

    </div>

    <form action="" method="post" class="form-container">
        {% csrf_token %}

        <div class="form-input">
            <div class="field-label"><h5>Start Location</h5></div>
            <div class="field-input empty-input"></div>
        </div>

        <div class="form-input">
            <div class="field-label"><h5>{{form.start_campsite.label}}</h5></div>
            <div class="field-input">{{form.start_campsite}}</div>
        </div>

        <div class="form-input">
            <div class="field-label"><h5>{{form.start_location.label}}</h5></div>
            <div class="field-input">{{form.start_location}}</div>
        </div>

        <div class="section-divider"></div>

        <div class="form-input">
            <div class="field-label"><h5>Finish Location</h5></div>
            <div class="field-input empty-input"></div>
        </div>

        <div class="form-input">
            <div class="field-label"><h5>{{form.finish_campsite.label}}</h5></div>
            <div class="field-input">{{form.finish_campsite}}</div>
        </div>

        <div class="form-input">
            <div class="field-label"><h5>{{form.finish_location.label}}</h5></div>
            <div class="field-input">{{form.finish_location}}</div>
        </div>

        <div class="section-divider"></div>

        <div class="form-input">
            <div class="field-label"><h5>{{form.distance.label}}</h5></div>
            <div class="field-input">{{form.distance}}</div>
        </div>

        <div class="form-input">
            <div class="field-label"><h5>{{form.elevation.label}}</h5></div>
            <div class="field-input">{{form.elevation}}</div>
        </div>

        <div class="form-links ">
            <a href="{% url "day-detail" day.id %}" class="btn-warning secondary">Cancel</a>

            <button type="submit" class="btn-warning primary">Save</button>

        </div>

    </form>




</div>




{% endblock content %}