{% extends "base.html" %} {% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/gear/gear-form.css" %}">
{% endblock head %}

{% block content %}
<div class="container">
    <div class="page-header">
        {% if gear %}
            <h1>Edit {{gear.name|capfirst}}</h1>
        {% else %}
            <h1>Add Gear</h1>
        {% endif %}
    </div>

    <form action="" method="post" class="form-container" autocomplete="off">
    {% csrf_token %}

        <div class="form-input">
            <div class="field-label"><h5>{{form.category.label}}</h5></div>
            <div class="field-input">{{form.category}}</div>
        </div>

        <div class="form-input">
            <div class="field-label"><h5>{{form.name.label}}</h5></div>
            <div class="field-input">{{form.name}}</div>
        </div>

        <div class="form-input">
            <div class="field-label"><h5>{{form.brand.label}}</h5></div>
            <div class="field-input">{{form.brand}}</div>
        </div>

        <div class="form-input">
            <div class="field-label"><h5>{{form.link.label}}</h5></div>
            <div class="field-input">{{form.link}}</div>
        </div>

        <div class="form-input">
            <div class="field-label"><h5>{{form.price.label}}</h5></div>
            <div class="field-input">{{form.price}}</div>
        </div>

        <div class="form-input">
            <div class="field-label"><h5>{{form.weight.label}}</h5></div>
            <div class="field-input weight">{{form.weight}} {{form.weight_m}}</div>
            
        </div>

        <div class="form-input">
            <div class="field-label"><h5>{{form.own.label}}</h5></div>
            <div class="field-input">{{form.own}}</div>
        </div>

        {% if gear %}
        <div class="form-input">
            <div class="field-label"><h5>{{form.packed.label}}</h5></div>
            <div class="field-input">{{form.packed}}</div>
        </div>
        {% endif %}

        <div class="form-links ">
            <a href="{% url "gear-index" %}" class="btn-warning secondary">
                Cancel
            </a>

            <button type="submit" class="btn-warning primary">
                {% if gear %}Save{% else %}Add Gear!{% endif %}
            </button>

        </div>
    </form>

</div>

{% endblock content %}