{% extends "base.html" %} {% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/delete.css" %}">

{% endblock head %}

{% block content %}
<div class="container">
    <div class="modal-container">
        <div class="page-header">
            <h2>Delete Gear?</h2>
        </div>

        <h3>Are you sure you want to delete {{gear.name}}, 
            Doing so will remove this item from all records?</h3>

        <form action="" method="post" class="modal-form">
            {% csrf_token %}
            <a href="{% url "gear-index" %}" class="btn-warning secondary">Cancel</a>
            <button type="submit" class="btn-warning primary">Yes, Delete!</button>
        </form>
    </div>

</div>

{% endblock content %}