{% extends "base.html" %} {% load static %}

{% block head %}
    <!-- New MCDatepicker CSS -->
    <link href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
    <!-- MCDatepicker JS -->
    <script src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"></script>
    <script defer src="{% static 'js/trail-form.js' %}"></script>
    <!--  CSS -->
    <link rel="stylesheet" href="{% static "css/trails/trail-form.css" %}">
    
{% endblock head %}

{% block content %}
<div class="container">

    
    <div class="page-header">
        {% if trail %}
            <h1>Edit {{trail.name}}</h1>
        {% else %}
            <h1>Design Your Next Adventure</h1>
        {% endif %}
    </div>

    <form action="" method="post" enctype="multipart/form-data" class="form-container">
        {% csrf_token %}

        <div class="form-input">
            <div class="field-label"><h5>{{form.name.label}}</h5></div>
            <div class="field-input">{{form.name}}</div>
        </div>

        {% if trail %}
        <div class="form-input">
            <div class="field-label"></div>
            <div class="field-input field-error">
                <h6>Warning: by changing dates, you will lose 
                    itinerary days that are removed from the adventure date range</h6>
            </div>

        </div>
        {% endif %} 

        <div class="form-input">
            <div class="field-label"><h5>{{form.start_date.label}}</h5></div>
            <div class="field-input">{{form.start_date}}</div>
        </div>
                

        <div class="form-input">
            <div class="field-label"><h5>{{form.end_date.label}}</h5>
                <div class="field-error"><h6>{{form.end_date.errors}}</h6></div>
            </div>
            
            <div class="field-input">{{form.end_date}}</div>
        </div>

        <div class="section-divider"></div>
            
        <div class="form-input">
            <div class="field-label"><h5>Starting Location</h5></div>
            <div class="field-input empty-input"></div>
        </div>

        <div class="form-input">
            <div class="field-label"><h5>{{form.location_name.label}}</h5></div>
            <div class="field-input">{{form.location_name}}</div>
        </div>

        <div class="form-input">
            <div class="field-label"><h5>{{form.location.label}}</h5></div>
            <div class="field-input">{{form.location}}</div>
        </div>

        <div class="section-divider"></div>

        <div class="form-input">
            <div class="field-label"><h5>{{form.distance.label}}</h5></div>
            <div class="field-input">{{form.distance}}</div>
        </div>

        <div class="form-input">
            <div class="field-label"><h5>{{form.elevation.label}}</h5></div>
            <div class="field-input">{{form.elevation}}</div>
        </div>

        <div class="section-divider"></div>

        <div class="form-input img">
            <div class="field-label"><h5>{{form.image.label}}</h5></div>

            <div class="field-input-img">
                {% if trail %}
                    <div class="image-grid">
                        {% for value, key in form.image.field.choices %}
                            {% if value %}
                            {% comment %} <h6>{{value}} {{key}}</h6> {% endcomment %}
                            
                            <label for="" class="image-container">
                                <input type="radio" name="image" value="{{ value }}"
                                    {% if form.image.value == value %} checked {% endif %}
                                >
                                <img src="{% static "images/" %}{{value}}" alt="Cover Options" class="field-image">
                            </label>
                            {% endif %}

                        {% endfor %}
                    </div>
                {% else %}
                    <div class="image-grid">
                        {% for value, key in form.image.field.choices %}
                            {% if value %}
                            {% comment %} <h6>{{value}} {{key}}</h6> {% endcomment %}
                            
                            <label for="" class="image-container">
                                <input type="radio" name="image" value="{{ value }}">
                                <img src="{% static "images/" %}{{value}}" alt="Cover Options" class="field-image">
                            </label>
                            {% endif %}

                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-links ">
            <a href="{% url "trail-index" %}" class="btn-warning secondary">
                Cancel
            </a>

            <button type="submit" class="btn-warning primary">
                {% if trail %}Save{% else %}Add Trail!{% endif %}
            </button>

        </div>
            
    </form>

</div>
{% endblock content %}