{% extends "base.html" %} {% load static %}

{% block head %}
    <!-- New MCDatepicker CSS -->
    <link href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
    <!-- MCDatepicker JS -->
    <script src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"></script>
    <script defer src="{% static 'js/trail-form.js' %}"></script>
    <!--  CSS -->
    <link rel="stylesheet" href="{% static "css/trails/trail-form.css" %}">
    
{% endblock head %}

{% block content %}
<div class="container">

    <div class="page-header">
        {% if trail %}
            <h1>Edit {{trail.name}}</h1>
        {% else %}
            <h1>Design Your Next Adventure</h1>
        {% endif %}
    </div>

    <form action="" method="post" enctype="multipart/form-data" class="form-container">
        {% csrf_token %}

        <div class="form-input">
            <div class="field-label"><h5>{{form.name.label}}</h5></div>
            <div class="field-input">{{form.name}}</div>
        </div>

        {% if trail %}
        <div class="form-input">
            <div class="field-label"></div>
            <div class="field-input field-error">
                <h6>Warning: by changing dates, you will lose 
                    itinerary days that are removed from the adventure date range</h6>
            </div>

        </div>
        {% endif %} 

        <div class="form-input">
            <div class="field-label"><h5>{{form.start_date.label}}</h5></div>
            <div class="field-input">{{form.start_date}}</div>
        </div>
                

        <div class="form-input">
            <div class="field-label"><h5>{{form.end_date.label}}</h5>
                <div class="field-error"><h6>{{form.end_date.errors}}</h6></div>
            </div>
            
            <div class="field-input">{{form.end_date}}</div>
        </div>
            
        <div class="form-input">
            <div class="field-label"><h5>{{form.location.label}}</h5></div>
            <div class="field-input">{{form.location}}</div>
        </div>

        <div class="form-input">
            <div class="field-label"><h5>{{form.distance.label}}</h5></div>
            <div class="field-input">{{form.distance}}</div>
        </div>

        <div class="form-input">
            <div class="field-label"><h5>{{form.elevation.label}}</h5></div>
            <div class="field-input">{{form.elevation}}</div>
        </div>

        <div class="form-input img">
            <div class="field-label"><h5>{{form.image.label}}</h5></div>

            <div class="field-input-img">
                {% if trail %}
                    <img class="field-image" src="{{trail.image.url}}" alt="{{trail.name}}">
                    <label for="id_image" class="custom-file-label btn-warning warning">Change Image</label>
                {% else %}
                    <label for="id_image" class="custom-file-label btn-warning warning">Choose Image</label>
                {% endif %}

                
                {{form.image}}
            </div>
        </div>

        <div class="form-links ">
            <a href="{% url "trail-index" %}" class="btn-warning warning">
                Cancel
            </a>

            <button type="submit" class="btn-warning warning">
                {% if trail %}Save{% else %}Add Trail!{% endif %}
            </button>

        </div>
            
    </form>

</div>
{% endblock content %}