{% extends "base.html" %} {% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/gear/gear-index.css" %}">
{% endblock head %}

{% block content %}
<section class="page-header">
    <h1>All Your Gear</h1>
    <img src="{% static "images/2d90c03a0000bdda8d6e5f8df8c18c36.jpg" %}" alt="Gear Storage Inspo">
    <img src="" alt="">
    <img src="" alt="">
    <li><a href="{% url "gear-create" %}">Add Gear For Storgae</a></li>
    {% comment %} <li><a href="{% url "gear-create" %}">Select Gear from Suggested list</a></li> {% endcomment %}
</section>

<section>
    <h1>View Gear for:</h1>
    {% for trail in trails %}
    <a href="{% url "trail-gear-details" trail.id %}">{{trail.name}}</a>
    {% endfor %}
</section>

<section class="gear-section">
    {% for key, value in categories %}
    <h3> {{value}}</h3>
    
        <table>
            <thead>
                <tr>
                    <th>name</th>
                    <th>brand</th>
                    <th>link</th>
                    <th>price</th>
                    <th>own</th>
                    <th colspan="2" >weight</th>
                    <th colspan="2"></th>
                </tr>
            </thead>

            <tbody>
                {% for gear in gear %}
                    {% if gear.category == key %}
                        <tr>
                            <td>{{gear.name}}</td>
                            <td>{{gear.brand}}</td>
                            <td>
                                {% if gear.link %}
                                <a href="">🔗</a>
                                {% endif %}
                            </td>
                            <td>{{gear.price}}</td>
                            <td>
                                {% if gear.own %}
                                <p>☑</p>
                                {% else %}
                                <p>➖</p>
                                {% endif %}
                            </td>
                            <td>{{gear.weight}}</td>
                            <td>{{gear.weight_m}}</td>
                            <td><a href="{% url "gear-update" gear.id %}" class="btn warn">✎</a></td>
                            <td><a href="{% url "gear-delete" gear.id %}" class="btn danger">Ⓧ</a></td>
                        </tr>
                    {% endif %}
                
                {% endfor %}
            </tbody>
        </table>
{% endfor %}
</section>


{% endblock content %}