{% extends "base.html" %} {% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/gear/gear-index.css" %}">
{% endblock head %}


{% block content %}
<div class="container">
    <div class="header" >
        <h1 class="header-text">Your Gear</h1>
    </div>

    <div class="section-header">

        <div class="page-header-container">
        
            {% for trail in trails %}
            <div class="btn-header-btn">
                <a href="{% url "trail-gear-details" trail.id %}">
                    <h5 class="btn-warning primary">
                        Gear Details </br> {{trail.name}}
                    </h5>
                </a>
            </div>
            {% endfor %}

        </div>
        
        <div class="page-header-links">
            <a href="{% url "gear-create" %}" class="page-links add"><h5>Add Gear</h5></a>
        </div>

    </div>

    <div class="feature-container">
        <div class="subsection-title">
                <h2>Gear Inventory</h2>
        </div>

        {% for key, value in categories %}
    
        <table class="subsection-table">
            <caption><h4>{{value}}</h4></caption>
            <thead>
                <tr>
                    <th><h5>Item</h5></th>
                    <th><h5>Brand</h5></th>
                    <th><h5>Link</h5></th>
                    <th><h5>Price</h5></th>
                    <th><h5>Own?</h5></th>
                    <th><h5>Weight</h5></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for gear in gear %}
                    {% if gear.category == key %}
                        <tr>
                            <td><h5>{{gear.name}}</h5></td>
                            <td><h5>{{gear.brand}}</h5></td>
                            <td>
                                {% if gear.link %}
                                <a href="{{gear.link}}" class="">
                                    <img src="{% static "/images/brand-svelte.svg" %}" alt="link icon" class="small-icon secondary-icon">
                                </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if gear.price %}
                                <h5>${{gear.price}}</h5>
                                {% endif %}
                            </td>

                            <td>
                                {% if gear.own %}
                                <img src="{% static "/images/checkbox.svg" %}" alt="checkbox icon" class="small-icon">
                                {% endif %}
                            </td>
                            <td>
                                {% if gear.weight %}
                                <h5>{{gear.weight}} ({{gear.weight_m}})</h5>
                                {% endif %}
                            </td>
                            
                            <td class="td-btn-container">
                                <a href="{% url "gear-update" gear.id %}" class="">
                                    <img src="{% static "/images/write.svg" %}" alt="write icon" class="small-icon secondary-icon">
                                </a>
        
                            <a href="{% url "gear-delete" gear.id %}" class="">
                                    <img src="{% static "/images/trash.svg" %}" alt="trash icon" class="small-icon secondary-icon">
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>

</div>
{% endblock content %}