{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% comment %} icon {% endcomment %}
        <link rel="shortcut icon" type="image/png" href="" />


        <title>Backpacking Blueprint</title>

        <link rel="stylesheet" href="{% static "css/base.css" %}" />
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <header class="nav-header">

            <div class="header-logo-container">
                <a href="{% url "home" %}">
                    <h3 class="logo-text">Backpacking Blueprint</h3>
                </a>
            </div>

            {% if user.is_authenticated %}
            <div class="header-nav-links">
                <a href="{% url "trail-index" %}"><h5>Adventures</h5></a>
                <a href="{% url "gear-index" %}"><h5>Gear</h5></a>
                <a href="{% url "food-index" %}"><h5>Pantry</h5></a>
            </div>

            <div>
                <form id="logout-form" method="post" action="{% url "logout" %}">
                    {% csrf_token %}
                    <button class="login-btn" type="submit">Log out</button>
                </form>
            </div>

            {% else %}
            <div class="header-nav-btns">
                <div class="login-btn"><a href="{% url "signin" %}">Log In</a></div>
                <div class="signup-btn"><a href="{% url "signup" %}">Sign Up</a></div>
            </div>
            {% endif %}
                    

        </header>

        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>