{% extends "base.html" %} {% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock head %}

{% block content %}
	<div class="container">
		{% if user.is_authenticated %}
			<div class="text-container">
				<div class="page-header">
					<h1>WELOME, {{user.username}} </h1>
				</div>

				<div class="subheader-content">
					<h4>Design Your Next Adventure</h4>
				</div>

				<div class="search">
					<img src="{% static "images/search (2).svg" %}" alt="search icon">
					<h6>Search by location or trail name</h6>
				</div>
			
		{% else %}
			<div class="text-container">
				<div class="page-header">
					<h1>Backpacking Blueprint</h1>
				</div>

				<div class="subheader-content">
					<h4>Your Ultimate Companion for Thru-Hiking Adventures</h4>
				</div>
				
				
				<a href="{% url "signin" %}" >
					<div class="btn-link">
							<h5>Start Planning</h5>
							<img src="{% static "images/arrow-right.svg" %}" alt="right arrow">
					</div>
				</a>
				
				
			</div>
		{% endif %}
	</div>

{% endblock content %}