{% extends "base.html" %} {% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/signin.css" %}">
{% endblock head %}

{% block content %}
<section>


    <div class="container">
		<div class="form-container">
			<div class="form-card">

				<div class="form-text">
					<h2>Sign Up</h2>
					{% if error_message %}
                        <p class="error">{{error_message}}</p>
                    {% endif %}
				</div>

				<div class="form-input">

					<form action="" method="post" autocomplete="off">
						{% csrf_token %}
                        <div class="input-group">
							{{form.username}}
						</div>

						<div class="input-group">
							{{form.password1}}
						</div>

						<div class="input-group">
							{{form.password2}}
						</div>
                        
						<div class="lower-container">
							<button type="submit" class="btn submit">Sign Up</button>
							<div class="lower-text">
								<h6>Already have an account?</h6><a href="{% url 'signin' %}" class="links"><h5>Log In</h5></a>
							</div>
						</div>
                        
					</form>
				
                </div>
		
				

			</div>
		</div>
	</div>
</section>
{% endblock content %}