{% extends "base.html" %} {% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/signin.css" %}">
{% endblock head %}

{% block content %}

{% if not user.is_authenticated %}
<section>

    <div class="container">
		<div class="form-container">
			<div class="form-card">

				<div class="form-text">
					<h2>Welcome Back</h2>
                    <h6>Please log in to continue</h6>
                    {% if error_message %}
                    <p class="error">{{error_message}}</p>
                    {% endif %}
				</div>

				<div class="form-input">

					<form action="{% url "signin" %}" method="post" class="login">
						{% csrf_token %}
                        <div class="input-group">
							{{form.username}}
						</div>

						<div class="input-group">
							{{form.password}}
						</div>

                        <input type="hidden" name="next" value="{{next}}">

                        <div class="lower-container">
                            <button type="submit" class="btn submit">Log In</button>
                            <div class="lower-text">
                                <h6>Don't have an account? </h6><a href="{% url 'signup' %}" class="links"><h5>Sign Up</h5></a>
                            </div>
                            
                        </div>

					
                    </form>
				
                </div>
		
				

			</div>
		</div>
	</div>
</section>
{% endif %}

{% endblock content %}
