{% extends "base.html" %} {% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/gear/gear-show.css" %}">
{% endblock head %}

{% block content %}
<section>
    <div class="subsection-content">
        <h2>Available Food for <a href="{% url "meal-plan" day.trail.id %}">{{day.date}}</a></h2>
        {% if food.count %}
        
            {% for food in food %}
                <div class="food-container">
                    <p>{{food.name}}</p>

                    <form action="{% url "add-food" day.id food.id%}" method="post">
                        {% csrf_token %}
                        {% comment %} {{mealplan_form.as_p}} {% endcomment %}
                        <button type="submit" class="btn submit">Add to Meal Plan</button>
                    </form>
            {% endfor %}

        {% else %}
            <p>No more food left in your Pantry <a href="{% url "food-create" %}">Add More Food</a></p>

        {% endif %}

    </div>
</section>

{% endblock content %}