{% extends "base.html" %} {% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/show.css" %}">
{% endblock head %}


{% block content %}

<div class="container">
    <div class="modal-container">
        <div class="header">
            <h2 class="header-text">Available Food for</h2>
            <h2 class="header-text">
                <a href="{% url "trail-detail" day.trail.id %}" class="link">
                    Day : {{day.day}} on {{day.trail.name}}</a>
            </h2>
        </div>

        <div class="section-header">
            <div class="page-header-container">
                <div class="btn-header-btn">
                    <a href="{% url "meal-plan" day.trail.id %}">
                        <h5 class="btn-warning primary">
                            Meal Plan </br> {{day.trail.name}}

                        </h5>
                    </a>
                </div>
                
            </div>
            <div class="page-header-links">
                <a href="{% url "food-create" %}" class="page-links add"><h5>Add Food</h5></a>
            </div>
        </div>

        <div class="feature-container">

            {% if food.count %}
                {% for food in food %}
                    <div class="item-card">
                        <div class="card-content">
                            <h5>{{food.name|capfirst}}</h5>

                            <form action="{% url "add-food" day.id food.id%}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn-clear radio">
                                    <img src="{% static "/images/plus-circle.svg" %}" alt="trash icon" class="small-icon secondary-icon">
                                </button>
                            </form>
                        </div>
                    </div>

                {% endfor %}

            {% else %}
            <h3>No more food left in your Pantry </h3>
            {% endif %}
        </div>
    </div>


</div>
{% endblock content %}