{% extends "base.html" %} {% load static %}
{% block head %}
<link rel="stylesheet" href="{% static "css/trails/trail-detail.css" %}">

    <script src='https://api.mapbox.com/mapbox-gl-js/v3.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.12.0/mapbox-gl.css' rel='stylesheet' />
{% endblock head %}

{% block content %}
<div class="container">
    <div class="grid-container">

        <div class="img-container top" style="background-image: url('{% static "images/" %}{{trail.image}}');">
            <div class="img-header">
                <h5 class="success">Hi {{user.username}}</h5>
                <h3 class="success">Welcome To Your {{trail.name}} Adventure!</h3>
                <h5 class="success">{{trail.start_date}} - {{trail.end_date}}</h5>
            </div>
        </div>


        <div class="details-container top">
            <h4>Trail Details:</h4>
            {% if trail.location_name %}
            <h5>Starting Location: {{trail.location_name}}</h5>
            {% endif %}

            {% if trail.distance %}
            <h5>Distance: {{trail.distance}} miles</h5>
            {% endif %}
            
            {% if trail.elevation %}
            <h5>Elevation: {{trail.elevation}} ft</h5>
            {% endif %}
            
            <h5>Duration: {{trail.duration.days}} days</h5>
        </div>

        <div class="action-links-container top">
            <div class="form-action-links">
                <a href="{% url "trail-update" trail.id%}" class=""><h5>Edit</h5></a>
                <a href="{% url "trail-delete" trail.id%}" class=""><h5>Delete</h5></a>
            </div>

            <a href="{% url "trail-gear-details" trail.id%}" class="btn-warning primary "><h5>Gear Details</h5></a>
            <a href="{% url "meal-plan" trail.id%}" class="btn-warning primary"><h5>Meal Plan</h5></a>
        </div>


        <div class="map-container">
            <div id='map'></div>
            <script>
                mapboxgl.accessToken = '{{ mapbox_access_token }}';
                
                const map = new mapboxgl.Map({
                    container: 'map', // container ID
                    style: 'mapbox://styles/mapbox/outdoors-v12', // style URL
                    {% if trail.lat and trail.long %}
                        center: [{{trail.long}}, {{trail.lat}}], // starting position [lng, lat]
                    {% else %}
                        center: [-110.4, 44.5], //Yellowstone National Park
                    {% endif %}
                    zoom: 5, // starting zoom
                });

                const nav = new mapboxgl.NavigationControl();
                map.addControl(nav);

                var marker = new mapboxgl.Marker()
                        .setLngLat([ {{trail.long}}, {{trail.lat}} ])
                        .setPopup(new mapboxgl.Popup().setHTML('<h5> {{trail.location}} </h5>'))
                        .addTo(map);

                {% for day in trail.day_set.all %}
                    {% if day.start_lat and day.start_long %}
                        marker = new mapboxgl.Marker({color: "green"})
                            .setLngLat([ {{day.start_long}}, {{day.start_lat}} ])
                            .setPopup(new mapboxgl.Popup().setHTML('<h5> Day {{day.day}} Start: {{day.start_location}} </h5>'))
                            .addTo(map);
                    {%endif%}

                    {% if day.finish_lat and day.finish_long %}
                        marker = new mapboxgl.Marker({color: "red"})
                            .setLngLat([ {{day.finish_long}}, {{day.finish_lat}} ])
                            .setPopup(new mapboxgl.Popup().setHTML('<h5> Day {{day.day}} Finish: {{day.finish_location}} </h5>'))
                            .addTo(map);
                    {%endif%}

                {% endfor %}

                
            </script>
        </div>

        <div class="feature-container">
            <div class="subsection-title">
                <h2 class="subsection-title-text">Itinerary</h2>
            </div>

            {% for day in trail.day_set.all %}
            <div class="day-container">
                
                    <a href="{% url "day-detail" day.id%}" class="day-title">
                            <h3 class="day-text">Day: {{day.day}}</h3>
                            <h4 class="day-text">{{day.date}}</h4>
                            {% comment %} {% if day.start_location or day.finish_location %}
                                <h5>{{day.start_location}} ➤ {{day.finish_location}}</h5>
                            {% else %}
                                <h5> Edit Day to Set Location</h5>
                            {% endif %} {% endcomment %}
                            <h6>Notes: {{day.note_set.count }}</h6>
                            {% comment %} <img  class="icon-img" src="{% static "images/write.svg" %}" alt="edit icon"> {% endcomment %}
                        
                    </a>
            </div>
            {% endfor %}
        </div>

        <div class="feature-two-container">
            <div class="subsection-title">
                <h2 class="subsection-title-text">Packing List</h2>
            </div>
            {% comment %} <a href="{% url "available-gear-index" trail.id%}">
                <h3>Available Gear</h3>
            </a> {% endcomment %}
            
            <div class="subsection-img" style="background-image: url('{% static "/images/tristan-pineda-LFGGCsj41Bc-unsplash.jpg" %}');">
                <div class="gear-container">
                {% if trail.gear.count %}

                    {% if all_packed %}
                    <h5>You're all set — no gear to pack right now!</h5>
                    {% endif %}

                    {% for gear in trail.gear.all %}
                    
                        {% if gear.packed == False %}

                            <form action="" method="post" autocomplete="off" class="packed-item">
                                {% csrf_token %}
                                <input type="checkbox" name="packed" value="True" 
                                    {% if gear.packed%} checked {% endif %}
                                    onchange="this.form.submit()"
                                >
                                <p >{{gear.name}}</p>
                                <input type="hidden" name="gear_id" value="{{gear.id}}">
                            </form>
                        {% endif %}
                    
                    {% endfor %}
                {% else %}
                <h5>To add Gear - click the gear details button above.</h5>
                {% endif %}
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock content %}