{% extends "base.html" %} {% load static %}
{% block head %}
<link rel="stylesheet" href="{% static "css/trails/trail-detail.css" %}">
{% endblock head %}

{% block content %}
<section class="container">
    <div class="img-container">
        <img src="" alt="">
    </div>
    <div class="trail-details">
        <h1>{{trail.name}}</h1>
        <h4>{{trail.start_date}} - {{trail.end_date}}</h4>
        <p>{{trail.location}}</p>
        <p>{{trail.distance}} miles</p>
        <p>{{trail.elevation}}</p>

        <div class="trail-actions">
            <a href="{% url "trail-update" trail.id%}" class="btn warn">Edit</a>
            <a href="{% url "trail-delete" trail.id%}" class="btn danger">Delete</a>
        </div>
    </div>
</section>

<section class="days-container">
    <div class="subsection-title">
        <h2>Itinerary</h2>
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>

    <table>
        <thead>
            <tr>
                <th>Day</th>
                <th>Date</th>
                <th>Staring Location</th>
                <th>Finish Location</th>
            </tr>
        </thead>
        <tbody>
            {% for day in trail.day_set.all %}
                <tr>
                    <td>{{day.day}}</td>
                    <td>{{day.date}}</td>
                    <td>{{day.start_location}}</td>
                    <td>{{day.finish_location}}</td>
                </tr>
                
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock content %}