{% extends "base.html" %} {% load static %}
{% block head %}
<link rel="stylesheet" href="{% static "css/trails/trail-detail.css" %}">
{% endblock head %}

{% block content %}
<section class="container">
    <div class="img-container">
        <img src="" alt="">
    </div>
    <div class="trail-details">
        <h1>{{trail.name}}</h1>
        <h4>{{trail.start_date}} - {{trail.end_date}}</h4>
        <p>{{trail.location}}</p>
        <p>{{trail.distance}} miles</p>
        <p>{{trail.elevation}}</p>

        <div class="trail-actions">
            <a href="{% url "trail-update" trail.id%}" class="btn warn">Edit</a>
            <a href="{% url "trail-delete" trail.id%}" class="btn danger">Delete</a>
        </div>
    </div>
</section>

<section class="days-container">
    <div class="subsection-title">
        <h2>Itinerary</h2>
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>

    {% for day in trail.day_set.all %}
    <div class="day-container">
        <div class="day-title">
            <h2>Day: {{day.day}} Date: {{day.date}}</h2>
            <p>{{day.start_location}} To {{day.finish_location}}</p>
        </div>
        <div class="day-details">
            <p>Distance: {{day.distance}} Elevation Gain: {{day.elevation}}</p>
            <p>Notes: {{day.notes}}</p>
        </div>

        <a href="{% url "update_day" day.id %}" class="btn warn">Edit</a>
    </div>
    {% endfor %}

</section>
{% endblock content %}