{% extends "base.html" %} {% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/trails/trail-index.css" %}">
{% endblock head %}

{% block content %}

<div class="container">
    <div class="header">
        <h1>Oh, the Places You'll Go</h1>
    </div>

    <section class="section-header">
        <h2>{% if is_archive %}Archived trails {% else %} Upcoming Trails{% endif %}</h2>
            
            <div class="page-header-links">
                {% if is_archive %}
                <a href="{% url "trail-index" %}" class="page-links"><h5>Upcoming</h5></a>
                {% else %}
                <a href="{% url "trail-index" %}?view=archive" class="page-links"><h5>Archive</h5></a>
                {% endif %}
                <a href="{% url "trail-create" %}" class="page-links add"><h5>Add a New Adventure</h5></a>
            </div>
    </section>

    <section class="card-container">
        {% if trails.count %}

            {% for trail in trails %}
                <div class="card">
                    <a href="{% url "trail-detail" trail.id %}">

                        <div class="card-content">
                            <div class="card-img-container" >
                                <img class="card-img" src="{{trail.image.url}}" alt="{{trail.name}}">
                            </div>
                            <div class="card-details">
                                <h4 class="card-title">{{trail.name}}</h4>
                                <h6>{{trail.start_date}} ➤ {{trail.end_date}}</h6>
                            </div>
                        </div>

                    </a>
                    
                </div>

            {% endfor %}
        {% else %}
        <h5>{% if is_archive %}No archived trails{% else %}No current Adventures planned{% endif %} </h5>

        {% endif %}
        
    </section>
</div>

{% endblock content %}