.mc-datepicker {
    max-width: 250px;
    margin: 0 auto;
    font-family: var(--roboto);
}

.mc-display__day,
.mc-display__date,
.mc-display__month,
.mc-display__year,
.mc-select__data,
.mc-btn--danger,
.mc-btn--success,
.mc-date,
.mc-table__weekday,
.mc-picker__footer {
    font-size: 1rem;
    padding: .3rem 0.5rem;
}

.mc-display__date {
    font-size: clamp(2.5rem, 8vw, 4rem);
    font-weight: 600;
}

.mc-select__data--month,
.mc-select__data--month span,
.mc-select__data--year,
.mc-select__data--year span {
    width: auto;
    min-width: 4rem;
    max-width: 6rem;
}

.mc-btn--danger,
.mc-btn--success {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;

}

.mc-picker__footer {
    padding-top: 0.5rem;
    font-size: 0.9rem;
}

.mc-table__weekday,
.mc-btn--success{
    color: var(--CoolGray-60);
}

.mc-btn--danger {
    color: var(--warning-color)
}

.mc-date--active.mc-date--picked{
    background-color: var(--primary-light);
}

