body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/static/images/brayden-winemiller-I2N8tXEbeNU-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    filter: blur(1.2px);
    z-index: -1;

    display:flex;
    align-items: center;
    justify-content: center;
}


.nav-header {
    opacity: 1;
}

.container {
    position: relative;
    top: 70px;
    left: 0;
    width: 100vw;
    height: 100vh;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.page-header h1 {
    text-align: center;
    color: var(--primary-light);
    margin: 3rem 0;
    text-shadow: 0px 4px 4px rgba(255, 244, 245, 0.3);

}

.form-container {
    width: 40rem;
    /* min-height: 30rem; */
    height: auto;
    border-radius: var(--card-border-radius);

    background-color: var(--color-creamson-light);
    box-shadow: 2px 6px 35.8px 0px #626262;
    padding: 1.5rem;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.form-input {
    display: grid;
    width: 100%;
    /* overflow: hidden; */
    grid-template-columns: 10rem auto;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    min-height: 3.375rem;
    text-align: center;
}

select,
input {
    width: 20rem;
    height: 3rem;
    background-color: #EEE;
    border-radius: var(--card-border-radius);
    border: none;
    padding: 0 1rem;
}

select {
    font-family: inherit;
    font-size: 1rem;

}

.form-links {
    margin-top: 1rem;
    width: 97%;
    display: flex;
    justify-content: space-between;
}


#id_weight, #id_weight_m {
    width: 8rem;
    margin: 0 1rem;
}
