{% extends "base.html" %} {% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/food/food-index.css" %}">
{% endblock head %}

{% block content %}
<div class="container">


  <div class="header mealplan">
    <h1 class="header-text">Meal Plan for</h1>
    <h1 class="header-text">
      <a href="{% url "trail-detail" trail.id%}" class="link">
        {{trail.name}}</a>
    </h1>
  </div>

  <div class="subsection-title">
    <h4>How Much Food Should You Bring?</h4>
    <h5>This depends on many factors but a good rule of thumb is to pack around 
    <span class="">1.5 to 2.5 lbs of food</span>, or, <span> 2,500 to 4,500 Calories </span>
      per day.</h5>
  </div>

  
  <div class="feature-container">
  {% for day in days %}

    <div class="table-header">
      <h3 class="link"><a href="{% url "day-detail" day.id%}" class="link">
        Day: {{day.day}} - {{day.date}}</a>
      </h3>
      
      <a href="{% url "available-food" day.id %}" class="login-btn"><h5>Add Food</h5></a>
    </div>

  
    <table class='subsection-table'>
      <thead>
        <tr>
            <th><h5>Name</h5></th>
            <th><h5>Calories</h5></th>
            <th><h5>Weight (grams)</h5></th>
            <th><h5>Edit/Remove</h5></th>
        </tr>
      </thead>

      <tbody>
        {% if day.food.count %}

          {% for food in day.food.all %}
            <tr>
              <td><h5>{{food.name}}</h5></td>
              <td><h5>{{food.calories}}</h5></td>
              <td><h5>{{food.weight}}</h5></td>
              <td class="td-btn-container">
                <a href="{% url "food-update" food.id %}" class="btn warn">
                  <img src="{% static "/images/write.svg" %}" alt="write icon" class="small-icon secondary-icon">
                </a>

                <form action="{% url "remove-food" day.id food.id%}" method="post" >
                  {% csrf_token %}
                  <button type="submit" class="btn-clear">
                    <img src="{% static "/images/trash.svg" %}" alt="trash icon" class="small-icon secondary-icon">
                  </button>

                </form>
              </td>
            </tr>

          {% endfor %}
        
            <tr>
              <td colspan='3' class="row-totals-title"><h5>Total Calories:</h5></td>
              <td class=""><h5>{{day.total_calories}}</h5></td>
            </tr>

            <tr>
              <td colspan='3'class="row-totals-title"><h5>Total Weight (pounds):</h5></td>
              <td class=""><h5>{{day.total_weight_lb | floatformat:4}}</h5></td>
              
              
            </tr>

            

        {% else %}
          <tr>
            <td colspan='4'><h5>No Meals Planned for this Day</h5></td>
          </tr>
          
        {% endif %}
      </tbody>
    </table> 
  
  {% endfor %}
  </div>
</div>

{% endblock content %}